<header class="header">
  <div class="header-content">
    <div class="header-left">
      <img src="/src/assets/img/concept/logoHeaderPulido-Photoroom.png" alt="logotipo de la tienda de motos" class="logo">
      <a href="/"><h1>MOT<span class="highlight">O</span>KASS</h1></a>
    </div>
    <div class="header-right">
      <nav>
        <ul class="nav-links">
          <li><a href="/">Tienda</a></li>
          <li><a href="/catalogo">Taller</a></li>
          <li><a href="/contacto">Contacto</a></li>
          <li><a href="/contacto">Novedades</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<style>
header{
  background-color: var(--color-primary-dark);
  width: 100%;
}
.header-content {
width: 100%;
display: flex;
justify-content: space-around;
}
.header-left {
  width: 40%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-left img{
  width: 100px;
  height: auto;
}
.header-left h1{
  margin-left: 0,5em;
  margin-bottom: 0;
  color: var(--color-white);
}
.header-left span {
  color: var(--color-white);
}

.header-right {
  width: 45%; 
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Lista */
.nav-links {
  list-style: none;
  display: flex;
  gap: 6rem;
  margin: 0;
  padding: 0;
}

/* Links */
.nav-links a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--color-white);
  position: relative;
  padding: 5px 0;
  transition: color 0.3s ease;
}

/* Color principal */
.nav-links a:hover {
  opacity: 0.5;
}

/* Línea animada debajo */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: var(--color-white);
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    gap: 1rem;
  }

  .nav-links a {
    font-size: 0.9rem;
  }
}
</style>
