<section class="section fade-in">
  <div class="container">
    <div class="services">
      <a href="/tienda" class="service-card service-tienda">
        <h1>TIENDA</h1>
      </a>

      <a href="/taller" class="service-card service-taller">
        <h1>TALLER</h1>
      </a>
    </div>
  </div>
</section>


<style>
.services {
  display: flex;
  justify-content: space-around;
  gap: 2%; /* espacio entre servicios */
}

.service-card {
  background: var(--color-white);
  text-align: center;
  width: 48%;
  text-decoration: none;
  color: var(--color-black);
  padding: 2em;
  font-size: 2em;
  height: 80vh;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card h1 {
  color: var(--color-white);
  font-size: 5em;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-tienda {
  background-image: url('/src/assets/img/backgrounds/tienda.png');
  background-size: cover;
  background-position: center;
}

.service-taller {
  background-image: url('/src/assets/img/backgrounds/taller.png');
  background-size: cover;
  background-position: center;
}

</style>

