---
import "../styles/global.css";
import ScrollTop from "../components/ScrollTop.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const {
  title = "MOTOKASS",
  description = "Tienda y taller de motos en tu ciudad",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta google-site-verification=LGtP0_svT6qHUjXgeFwugHSspMv_9X8iOq1i5e_LKVY>
    <meta name="google-site-verification" content="LGtP0_svT6qHUjXgeFwugHSspMv_9X8iOq1i5e_LKVY">
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />

    <!-- Favicon (placeholder) -->
    <link rel="icon" href="/favicon.svg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

  </head>
  <body class="page-container">
    <Header></Header>
    <main class="content">
      <slot />
    </main>
    <ScrollTop />
    <Footer></Footer>
  </body>
</html>

<style>
/* Contenedor flex para todo el layout */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ocupa toda la altura de la pantalla */
  /*background: #395A99;
  background: linear-gradient(
    140deg,
    rgba(57, 90, 153, 0.81) 0%,
    rgba(57, 90, 153, 1) 26%,
    rgba(102, 153, 242, 1) 100%
  );*/
  background-color: var(--color-gray-medium);
}

/* Main crece para empujar el footer abajo */
.content {
  flex: 1; /* permite que main crezca para empujar footer al final */
}

/* Footer */
footer {
  background: #f1f5f9;
  padding: 1.5rem;
  text-align: center;
}

</style>
